:root {
  --white: #f9f9f9;
  --blue: #212b36;
  --lightBlue: #1d2935;
  --lightHover: #26323e69;
  --gray: #343b44;
  --golden: #f2a734;
  --goldenLight: #f2a63493;
  --danger: #df1818a6;
  --select__option__bg: rgba(145 158 171 / 0.08);
  --select__multi__value: #157ba7;
  --select__multi__value__bg: #d6f4f9;
  --editor__body__color: #f6f7f8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: var(--white);
}
